In [2]:
import numpy as np
import pandas as pd
import csv

In [4]:
df = pd.read_csv("C:\\Users\\user\\OneDrive\\바탕 화면\\keyword_rank.csv",encoding = "utf-8")

In [5]:
df

       keyword_rank main_keyword  all_count
0                 1           재정       1440
1                 2           금리       1384
2                 3           사진       1329
3                 4           지금       1278
4                 5           빌라       1254
...             ...          ...        ...
13445         13446           엄습          3
13446         13447           재간          3
13447         13448           동학          3
13448         13449           케파          3
13449         13450           함축          3

[13450 rows x 3 columns]